name: cdk package code

on:
  workflow_call:
    inputs:
      BRANCH_NAME:
        required: true
        type: string
      VERSION_NUMBER:
        required: true
        type: string
      COMMIT_ID:
        required: true
        type: string

jobs:
  package_code:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{ inputs.BRANCH_NAME }}

      - name: install dependencies
        uses: ./.github/actions/install_dependencies
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: make compile
        run: make compile

      - name: download the get secrets lambda layer
        run: |
          make download-get-secrets-layer

      - name: "Tar files"
        run: |
          tar -rf artifact.tar \
            .tool-versions \
            .tool-versions.asdf \
            packages \
            node_modules \
            package.json \
            tsconfig.defaults.json

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        name: upload build artifact
        with:
          name: build_artifact
          path: artifact.tar
