name: cdk release code

on:
  workflow_call:
    inputs:
      BRANCH_NAME:
        required: true
        type: string
      STACK_NAME:
        required: true
        type: string
      AWS_ENVIRONMENT:
        required: true
        type: string
      APIGEE_ENVIRONMENT:
        required: true
        type: string
      VERSION_NUMBER:
        required: true
        type: string
      COMMIT_ID:
        required: true
        type: string
      CDK_APP_NAME:
        required: true
        type: string
      LOG_RETENTION_IN_DAYS:
        required: true
        type: string
      LOG_LEVEL:
        type: string
      TRUSTSTORE_FILE:
        required: true
        type: string
      RUN_REGRESSION_TESTS:
        type: boolean
        default: true
      IS_PULL_REQUEST:
        type: boolean
        required: true
      FORWARD_CSOC_LOGS:
        type: boolean
        required: true
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE:
        required: true
      APIM_STATUS_API_KEY:
        required: true
      PROXYGEN_ROLE:
        required: false
      TARGET_SPINE_SERVER:
        required: true
      REGRESSION_TESTS_PEM:
        required: false

jobs:
  release_code:
    runs-on: ubuntu-22.04
    environment: ${{ inputs.AWS_ENVIRONMENT }}
    name: deploy cdk app ${{ inputs.CDK_APP_NAME }}
    permissions:
      id-token: write
      contents: read

    steps:
      - &download_artifact
        name: build_artifact download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          name: build_artifact

      - &extract_artifact
        name: extract build_artifact
        run: tar -xf artifact.tar

      - &install_dependencies
        name: install dependencies
        uses: ./.github/actions/install_dependencies
        with:
          npm-required: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - &assume_deploy_role
        name: Configure AWS Credentials
        id: connect-aws-deploy
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.CLOUD_FORMATION_DEPLOY_ROLE }}
          role-session-name: cpt-api-deployment

      - name: delete old CDK stacks
        if: ${{ inputs.IS_PULL_REQUEST != true }}
        run: npm run delete-main-stacks --workspace packages/cdk
        shell: bash
        env:
          AWS_ENVIRONMENT: "${{ inputs.AWS_ENVIRONMENT }}"
          APIGEE_ENVIRONMENT: "${{ inputs.APIGEE_ENVIRONMENT }}"
          APIM_STATUS_API_KEY: "${{ secrets.APIM_STATUS_API_KEY }}"

      - name: Deploy AWS infrastructure and code
        run: npm run cdk-deploy --workspace packages/cdk
        shell: bash
        env:
          CDK_APP_NAME: "${{ inputs.CDK_APP_NAME }}"
          CDK_CONFIG_stackName: "${{ inputs.STACK_NAME }}"
          CDK_CONFIG_versionNumber: "${{ inputs.VERSION_NUMBER }}"
          CDK_CONFIG_commitId: "${{ inputs.COMMIT_ID }}"
          CDK_CONFIG_isPullRequest: "${{ inputs.IS_PULL_REQUEST }}"
          CDK_CONFIG_environment: "${{ inputs.AWS_ENVIRONMENT }}"
          CDK_CONFIG_logRetentionInDays: "${{ inputs.LOG_RETENTION_IN_DAYS }}"
          CDK_CONFIG_logLevel: "${{ inputs.LOG_LEVEL }}"
          CDK_CONFIG_targetSpineServer: "${{ secrets.TARGET_SPINE_SERVER }}"
          CDK_CONFIG_trustStoreFile: "${{ inputs.TRUSTSTORE_FILE }}"
          CDK_CONFIG_forwardCsocLogs: "${{ inputs.FORWARD_CSOC_LOGS }}"
          REQUIRE_APPROVAL: "never"

  release_api:
    runs-on: ubuntu-22.04
    environment: ${{ inputs.AWS_ENVIRONMENT }}
    name: deploy proxgen api
    needs: [release_code]
    permissions:
      id-token: write
      contents: write

    steps:
      - *download_artifact
      - *extract_artifact
      - *install_dependencies

      - *assume_deploy_role
      - name: get mtls secrets
        shell: bash
        run: |
          mkdir -p /tmp/proxygen
          client_private_key_arn=$(aws cloudformation list-exports --query "Exports[?Name=='account-resources:ClinicalTrackerClientKeySecret'].Value" --output text)
          client_cert_arn=$(aws cloudformation list-exports --query "Exports[?Name=='account-resources:ClinicalTrackerClientCertSecret'].Value" --output text)
          aws secretsmanager get-secret-value --secret-id "${client_private_key_arn}" --query SecretString --output text > /tmp/proxygen/client_private_key
          aws secretsmanager get-secret-value --secret-id "${client_cert_arn}" --query SecretString --output text > /tmp/proxygen/client_cert

      - name: Configure AWS Credentials for api release
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.PROXYGEN_ROLE }}

      - name: Deploy Apigee API
        shell: bash
        working-directory: ./packages/specification
        run: npm run deploy-api
        env:
          VERSION_NUMBER: ${{ inputs.VERSION_NUMBER }}
          STACK_NAME: ${{ inputs.STACK_NAME }}
          AWS_ENVIRONMENT: ${{ inputs.AWS_ENVIRONMENT }}
          APIGEE_ENVIRONMENT: ${{ inputs.APIGEE_ENVIRONMENT }}
          IS_PULL_REQUEST: ${{ inputs.IS_PULL_REQUEST }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        name: Upload specs
        if: ${{ always() }}
        with:
          name: ${{ inputs.APIGEE_ENVIRONMENT }}-specs
          path: |
            ./packages/specification/dist/eps-clinical-prescription-tracker-api.resolved.json

      - name: Checkout gh-pages
        if: ${{ !startsWith(inputs.STACK_NAME, 'cpt-pr-') }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: gh-pages
          path: gh-pages

      - name: Update release tag in github pages
        if: ${{ !startsWith(inputs.STACK_NAME, 'cpt-pr-') }}
        run: |
          cd gh-pages
          NOW=$(date +'%Y-%m-%dT%H:%M:%S')
          echo "tag,release_datetime" > _data/${{ inputs.APIGEE_ENVIRONMENT }}_latest.csv
          echo "${{ inputs.VERSION_NUMBER }},${NOW}" >> _data/${{ inputs.APIGEE_ENVIRONMENT }}_latest.csv
          echo "${{ inputs.VERSION_NUMBER }},${NOW}" >> _data/${{ inputs.APIGEE_ENVIRONMENT }}_deployments.csv
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add _data/${{ inputs.APIGEE_ENVIRONMENT }}_latest.csv
          git add _data/${{ inputs.APIGEE_ENVIRONMENT }}_deployments.csv
          git commit -m 'update releases for ${{ inputs.APIGEE_ENVIRONMENT }}'
          parallel --retries 10 --delay 3 ::: "git pull --rebase && git push"

  regression_tests:
    name: Regression Tests
    uses: ./.github/workflows/run_regression_tests.yml
    if: ${{ always() && !failure() && !cancelled() && inputs.RUN_REGRESSION_TESTS == true }}
    needs: [release_code, release_api]
    with:
      BRANCH_NAME: ${{ inputs.BRANCH_NAME }}
      ENVIRONMENT: ${{ inputs.APIGEE_ENVIRONMENT }}
      VERSION_NUMBER: ${{ inputs.VERSION_NUMBER }}
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
