name: "Delete old pull request deployments"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2,14 * * *"

jobs:
  delete-old-cloudformation-stacks:
    runs-on: ubuntu-22.04
    permissions: &common_permissions
      id-token: write
      contents: read
      packages: read

    steps:
      - &checkout
        name: Checkout local github scripts
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{ github.event.ref.BRANCH_NAME }}
          fetch-depth: 0

      - &install_dependencies
        name: install dependencies
        uses: ./.github/actions/install_dependencies
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - &configure_aws_credentials
        name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}

      - name: delete stacks
        shell: bash
        run: npm run delete-old-pr-stacks --workspace packages/cdk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  delete-old-proxygen-deployments:
    runs-on: ubuntu-22.04
    permissions: *common_permissions

    steps:
      - *checkout
      - *install_dependencies
      - *configure_aws_credentials
      - name: delete proxygen deployments
        shell: bash
        run: npm run delete-old-pr-deployments --workspace packages/specification
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
