name: deploy_pr

on:
  pull_request:
    branches: [main]

jobs:
  dependabot-auto-approve-and-merge:
    needs: quality_checks
    uses: NHSDigital/eps-common-workflows/.github/workflows/dependabot-auto-approve-and-merge.yml@d215f841eb18b803e339e4ed597ed1f30e086e17
    secrets:
      AUTOMERGE_APP_ID: ${{ secrets.AUTOMERGE_APP_ID }}
      AUTOMERGE_PEM: ${{ secrets.AUTOMERGE_PEM }}

  get_asdf_version:
    runs-on: ubuntu-22.04
    outputs:
      asdf_version: ${{ steps.asdf-version.outputs.version }}
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          echo "TAG_FORMAT=$TAG_FORMAT" >> "$GITHUB_OUTPUT"
  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks.yml@d215f841eb18b803e339e4ed597ed1f30e086e17
    needs: [get_asdf_version]
    with:
      asdfVersion: ${{ needs.get_asdf_version.outputs.asdf_version }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  pr_title_format_check:
    uses: NHSDigital/eps-common-workflows/.github/workflows/pr_title_check.yml@d215f841eb18b803e339e4ed597ed1f30e086e17

  get_issue_number:
    runs-on: ubuntu-22.04
    needs: quality_checks
    outputs:
      issue_number: ${{steps.get_issue_number.outputs.result}}

    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        name: get issue number
        id: get_issue_number
        with:
          script: |
            if (context.issue.number) {
              // Return issue number if present
              return context.issue.number;
            } else {
              // Otherwise return issue number from commit
              return (
                await github.rest.repos.listPullRequestsAssociatedWithCommit({
                  commit_sha: context.sha,
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                })
              ).data[0].number;
            }
          result-encoding: string
  tag_release:
    needs: [get_asdf_version]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release.yml@997a1946c83bb2a9eda418847ed640738af949ff
    with:
      dry_run: true
      asdfVersion: ${{ needs.get_asdf_version.outputs.asdf_version }}
      branch_name: ${{ github.event.pull_request.head.ref }}
      tag_format: ${{ needs.get_asdf_version.outputs.tag_format }}
    secrets: inherit

  get_commit_id:
    runs-on: ubuntu-22.04
    outputs:
      commit_id: ${{ steps.commit_id.outputs.commit_id }}
    steps:
      - name: Get Commit ID
        id: commit_id
        run: |
          echo "commit_id=${{ github.sha }}" >> "$GITHUB_OUTPUT"

  package_code:
    needs: [get_issue_number, get_commit_id]
    uses: ./.github/workflows/cdk_package_code.yml
    with:
      BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
      VERSION_NUMBER: PR-${{ needs.get_issue_number.outputs.issue_number }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}

  release_code:
    needs: [get_issue_number, package_code, get_commit_id]
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
      STACK_NAME: cpt-api-pr-${{needs.get_issue_number.outputs.issue_number}}
      AWS_ENVIRONMENT: dev
      APIGEE_ENVIRONMENT: internal-dev
      VERSION_NUMBER: PR-${{ needs.get_issue_number.outputs.issue_number }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
      CDK_APP_NAME: CptsApiApp
      LOG_RETENTION_IN_DAYS: 30
      LOG_LEVEL: DEBUG
      TRUSTSTORE_FILE: clinical-tracker-truststore.pem
      RUN_REGRESSION_TESTS: true
      IS_PULL_REQUEST: true
      FORWARD_CSOC_LOGS: false
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.DEV_TARGET_SPINE_SERVER }}
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

  # release_sandbox_code:
  #   needs: [get_issue_number, package_code, get_commit_id]
  #   uses: ./.github/workflows/cdk_release_code.yml
  #   with:
  #     BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
  #     STACK_NAME: cpt-api-pr-${{needs.get_issue_number.outputs.issue_number}}-sandbox
  #     AWS_ENVIRONMENT: dev
  #     APIGEE_ENVIRONMENT: internal-dev-sandbox
  #     VERSION_NUMBER: PR-${{ needs.get_issue_number.outputs.issue_number }}
  #     COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
  #     CDK_APP_NAME: CptsApiSandboxApp
  #     LOG_RETENTION_IN_DAYS: 30
  #     LOG_LEVEL: DEBUG
  #     TRUSTSTORE_FILE: clinical-tracker-sandbox-truststore.pem
  #   secrets:
  #     CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
  #     PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
  #     TARGET_SPINE_SERVER: sandbox
  #     REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
  #     APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

  # uncomment this if we want to release to ref from a pull request
  # release_ref:
  #   needs: [get_commit_id, get_issue_number, package_code, release_code]
  #   uses: ./.github/workflows/cdk_release_code.yml
  #   with:
  #     BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
  #     STACK_NAME: cpt-api
  #     AWS_ENVIRONMENT: ref
  #     APIGEE_ENVIRONMENT: ref
  #     VERSION_NUMBER: PR-${{ needs.get_issue_number.outputs.issue_number }}
  #     COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
  #     CDK_APP_NAME: CptsApiApp
  #     LOG_RETENTION_IN_DAYS: 30
  #     LOG_LEVEL: DEBUG
  #     TRUSTSTORE_FILE: clinical-tracker-truststore.pem
  #   secrets:
  #     CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.REF_CLOUD_FORMATION_DEPLOY_ROLE }}
  #     PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
  #     TARGET_SPINE_SERVER: ${{ secrets.REF_TARGET_SPINE_SERVER }}
  #     REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
  #     APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}
