name: deploy to environments

on:
  workflow_dispatch:

jobs:
  get_config_values:
    runs-on: ubuntu-22.04
    outputs:
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
      devcontainer_version: ${{ steps.load-config.outputs.DEVCONTAINER_VERSION }}
      devcontainer_image: ${{ steps.load-config.outputs.DEVCONTAINER_IMAGE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          DEVCONTAINER_IMAGE=$(jq -r '.build.args.IMAGE_NAME' .devcontainer/devcontainer.json)
          DEVCONTAINER_VERSION=$(jq -r '.build.args.IMAGE_VERSION' .devcontainer/devcontainer.json)
          {
            echo "TAG_FORMAT=$TAG_FORMAT" 
            echo "DEVCONTAINER_IMAGE=$DEVCONTAINER_IMAGE"
            echo "DEVCONTAINER_VERSION=$DEVCONTAINER_VERSION"
          } >> "$GITHUB_OUTPUT"

  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks-devcontainer.yml@36677e1d6bfaa010d7b78942a1ade12fbefecb80
    needs: [get_config_values]
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  get_commit_id:
    runs-on: ubuntu-22.04
    outputs:
      commit_id: ${{ steps.commit_id.outputs.commit_id }}
    steps:
      - name: Get Commit ID
        id: commit_id
        run: |
          echo "commit_id=${{ github.sha }}" >> "$GITHUB_OUTPUT"

  tag_release:
    needs: [quality_checks, get_commit_id, get_config_values]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release-devcontainer.yml@36677e1d6bfaa010d7b78942a1ade12fbefecb80
    with:
      dry_run: false
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      branch_name: main
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
      verify_published_from_main_image: true
    secrets: inherit

  package_code:
    needs: [get_commit_id, tag_release, get_config_values]
    uses: ./.github/workflows/cdk_package_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
      BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}

  release_dev:
    needs: [get_commit_id, tag_release, package_code, get_config_values]
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
      BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
      STACK_NAME: cpt-api
      AWS_ENVIRONMENT: dev
      APIGEE_ENVIRONMENT: internal-dev
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
      CDK_APP_NAME: CptsApiApp
      LOG_RETENTION_IN_DAYS: 30
      LOG_LEVEL: DEBUG
      TRUSTSTORE_FILE: clinical-tracker-truststore.pem
      RUN_REGRESSION_TESTS: true
      IS_PULL_REQUEST: false
      FORWARD_CSOC_LOGS: false
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.DEV_TARGET_SPINE_SERVER }}
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

  # release_dev_sandbox:
  #   needs: [get_commit_id, tag_release, package_code, release_dev]
  #   uses: ./.github/workflows/cdk_release_code.yml
  #   with:
  #     BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
  #     STACK_NAME: cpt-api-sandbox
  #     AWS_ENVIRONMENT: dev
  #     APIGEE_ENVIRONMENT: internal-dev-sandbox
  #     VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
  #     COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
  #     CDK_APP_NAME: CptsApiSandboxApp
  #     LOG_RETENTION_IN_DAYS: 30
  #     LOG_LEVEL: DEBUG
  #     TRUSTSTORE_FILE: clinical-tracker-sandbox-truststore.pem
  #   secrets:
  #     CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
  #     PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
  #     TARGET_SPINE_SERVER: sandbox
  #     REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
  #     APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

  release_ref:
    needs: [get_commit_id, tag_release, package_code, release_dev, get_config_values] # TODO: add sandbox back once implemented
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
      BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
      STACK_NAME: cpt-api
      AWS_ENVIRONMENT: ref
      APIGEE_ENVIRONMENT: ref
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
      CDK_APP_NAME: CptsApiApp
      LOG_RETENTION_IN_DAYS: 30
      LOG_LEVEL: DEBUG
      TRUSTSTORE_FILE: clinical-tracker-truststore.pem
      RUN_REGRESSION_TESTS: false
      IS_PULL_REQUEST: false
      FORWARD_CSOC_LOGS: false
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.REF_CLOUD_FORMATION_DEPLOY_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.REF_TARGET_SPINE_SERVER }}
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

  release_qa:
    needs: [get_commit_id, tag_release, package_code, release_dev, get_config_values] # TODO: add sandbox back once implemented
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
      BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
      STACK_NAME: cpt-api
      AWS_ENVIRONMENT: qa
      APIGEE_ENVIRONMENT: internal-qa
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
      CDK_APP_NAME: CptsApiApp
      LOG_RETENTION_IN_DAYS: 30
      LOG_LEVEL: DEBUG
      TRUSTSTORE_FILE: clinical-tracker-truststore.pem
      RUN_REGRESSION_TESTS: true
      IS_PULL_REQUEST: false
      FORWARD_CSOC_LOGS: false
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.QA_CLOUD_FORMATION_DEPLOY_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.QA_TARGET_SPINE_SERVER }}
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

  release_int:
    needs: [get_commit_id, tag_release, package_code, release_qa, get_config_values]
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
      BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
      STACK_NAME: cpt-api
      AWS_ENVIRONMENT: int
      APIGEE_ENVIRONMENT: int
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
      CDK_APP_NAME: CptsApiApp
      LOG_RETENTION_IN_DAYS: 30
      LOG_LEVEL: DEBUG
      TRUSTSTORE_FILE: clinical-tracker-truststore.pem
      RUN_REGRESSION_TESTS: false # these do not work currently
      IS_PULL_REQUEST: false
      FORWARD_CSOC_LOGS: false
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.INT_CLOUD_FORMATION_DEPLOY_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PROD_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.INT_TARGET_SPINE_SERVER }}
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

    # release_sandbox:
  #   needs: [get_commit_id, tag_release, package_code, release_qa]
  #   uses: ./.github/workflows/cdk_release_code.yml
  #   with:
  #     BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
  #     STACK_NAME: cpt-api-sandbox
  #     AWS_ENVIRONMENT: int
  #     APIGEE_ENVIRONMENT: sandbox
  #     VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
  #     COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
  #     CDK_APP_NAME: CptsApiSandboxApp
  #     LOG_RETENTION_IN_DAYS: 30
  #     LOG_LEVEL: DEBUG
  #     TRUSTSTORE_FILE: clinical-tracker-sandbox-truststore.pem
  #   secrets:
  #     CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.INT_CLOUD_FORMATION_DEPLOY_ROLE }}
  #     PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PROD_ROLE }}
  #     TARGET_SPINE_SERVER: sandbox
  #     REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
  #     APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}

  release_prod:
    needs: [get_commit_id, tag_release, package_code, release_int, get_config_values] # TODO: add sandbox back once implemented
    uses: ./.github/workflows/cdk_release_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
      BRANCH_NAME: ${{ github.event.ref.BRANCH_NAME }}
      STACK_NAME: cpt-api
      AWS_ENVIRONMENT: prod
      APIGEE_ENVIRONMENT: prod
      VERSION_NUMBER: ${{ needs.tag_release.outputs.version_tag }}
      COMMIT_ID: ${{ needs.get_commit_id.outputs.commit_id }}
      CDK_APP_NAME: CptsApiApp
      LOG_RETENTION_IN_DAYS: 30
      LOG_LEVEL: DEBUG
      TRUSTSTORE_FILE: clinical-tracker-truststore.pem
      RUN_REGRESSION_TESTS: false
      IS_PULL_REQUEST: false
      FORWARD_CSOC_LOGS: true
    secrets:
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_DEPLOY_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PROD_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.PROD_TARGET_SPINE_SERVER }}
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      APIM_STATUS_API_KEY: ${{ secrets.APIM_STATUS_API_KEY }}
