name: Run Regression Tests

on:
  workflow_call:
    inputs:
      BRANCH_NAME:
        required: true
        type: string
      ENVIRONMENT:
        required: true
        type: string
      VERSION_NUMBER:
        required: true
        type: string
      REGRESSION_TESTS_PEM:
        type: string
        default: "false"
    secrets:
      REGRESSION_TESTS_PEM:
        required: true

jobs:
  run_regression_tests:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout local github actions
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{ inputs.BRANCH_NAME }}
          fetch-depth: 0

      - name: Generate a token to authenticate regression testing
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ vars.REGRESSION_TESTS_APP_ID }}
          private-key: ${{ secrets.REGRESSION_TESTS_PEM }}
          owner: "NHSDigital"
          repositories: "electronic-prescription-service-api-regression-tests"

      - name: install dependencies
        uses: ./.github/actions/install_dependencies
        with:
          npm-required: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Regression Testing
        working-directory: scripts
        env:
          TARGET_ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
          VERSION_NUMBER: ${{ inputs.VERSION_NUMBER }}
          GITHUB-TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          if [[ "$TARGET_ENVIRONMENT" != "prod" && "$TARGET_ENVIRONMENT" != "ref" ]]; then
            # this should be the tag of the tests you want to run
            REGRESSION_TEST_REPO_TAG=v3.6.2

            # this should be the tag of the regression test workflow you want to run
            # This will normally be the same as REGRESSION_TEST_REPO_TAG
            REGRESSION_TEST_WORKFLOW_TAG=v3.6.2

            curl https://raw.githubusercontent.com/NHSDigital/electronic-prescription-service-api-regression-tests/refs/tags/${REGRESSION_TEST_WORKFLOW_TAG}/scripts/run_regression_tests.py -o run_regression_tests.py
            poetry install
            echo Running regression tests in the "$TARGET_ENVIRONMENT" environment
            poetry run python -u run_regression_tests.py \
            --env="$TARGET_ENVIRONMENT" \
            --pr_label="$VERSION_NUMBER" \
            --token=${{ steps.generate-token.outputs.token }} \
            --is_called_from_github=true \
            --product=CPTS-FHIR \
            --regression_test_repo_tag "${REGRESSION_TEST_REPO_TAG}" \
            --regression_test_workflow_tag "${REGRESSION_TEST_WORKFLOW_TAG}"
          fi
